@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	height: 100%;
	color: #f4f4f4;
	text-align: center;
	background: #f6f6f6;
	
	animation-duration: 2s;
	animation-name: feed-in;
	
	font-weight: 600;
}

h1 {
	color: #f4f4f4;
	font-size: 60px;
	font-family: "paytone-one";
}

li {
	list-style: none;	
	transition: .27s;
	font-weight: 400;
}

p {
	margin: 0;
}

a {
	color: aqua;
}

.life {
	text-align: left;
	display: inline-block;
}

.life-parent {
	margin: 0 auto;
	text-align: center;
}

.top {
	text-align: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(img/header.jpg);
}

.header {
	width: 100%;
	height: 90px;
	text-align: center;
	background: rgba(234, 234, 234, .13);
	
	animation-duration: 2s;
	animation-name: feed-in;
}

.header-btn {
	height: 100%;
	width: 200px;
	font-size: 40px;
	
	color: #282828;
	border: hidden;
	font-family: Latha;
	background: rgba(0, 0, 0, 0);
	
	cursor: auto;
	transition: .34s;
	
	animation-duration: 1.3s;
	animation-name: btn-slide-bottom;
}

.header-btn:hover {
	cursor: pointer;
	background: rgba(255, 255, 255, .2);
}

.logo {
	position: relative;
	top: -50px;
	margin: 0;
	
	animation-duration: 1.6s;
	animation-name: logo-slide-on;
}

.about-me {
	background: rgba(30, 30, 30, .2);
	padding-bottom: 30px;
	font-size: 18px;
	
	position: relative;
	top: -40px;
}

.fix-top-contents {
	position: relative;
	bottom: 40px;
}

.about-me-text {
	position: relative;
	font-size: 30px;
	top: -50px;
}

.enter-line {
	margin-top: 20px;
}

.top-1 {
	color: #1c1c1c;
	margin: 0;
	
	position: relative;
	top: 0;
	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(img/bg.png);
}

.top-2 {
	/*
	background: #8BC34A;
	*/
	position: relative;
	top: 0;
	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(img/bg1.png);
}

.top-3 {
	background: #4CAF50;
	position: relative;
	color: #1c1c1c;
	top: 0;
	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(img/bg2.png);
	
	margin: 0;
}

.back-btn {
	position: fixed;
	bottom: 10px;
	right: 20px;
	
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 50px solid #161616;
	opacity: .86;
	
	cursor: none;
}

.copy-light {
	background: #e6e6e6;
	color: #131313;
	
	height: 30px;
	width: 100%;
}

.back-btn:hover {
	cursor: pointer;
}

.thumbnail {
	border-radius: 10px;
	border: solid 5px #eee;
}

.table-name {
	font-size: 30px;
}

.big-h1 {
	font-size: 55px;
	font-weight: bold;
}

.table-bg {
	padding: 20px;
}

.hover-color-aqua:hover {
	color: aqua;
}

.hover-color-whitesmoke:hover {
	color: whitesmoke;
}

.under-link {
	font-weight: bold;
	color: #e8e8e8;
}

.text-shadow {
	text-shadow: 0px 0px 5px #161616;
}

.text-shadow-white {
	text-shadow: 0px 0px 5px #f6f6f6;
}

.rep {
	font-size: 20px;
}

.border-line {
	display: inline-block;
	
	width: 900px;
	margin-top: 30px;
	border-top: dashed 2px #fff;
}

.title {
	font-size: 30px;
	font-weight: bold;
}

.title-2 {
	color: #cdcdcd;
}

.bold {
	font-weight: 500;
}

@keyframes feed-in {
	0% {
		opacity: 0;
	}
	
	1000% {		
		opacity: 1;
	}
}

@keyframes logo-slide-on {
	0% {
		position: relative;
		top: -30px;
	}
	
	100% {
		top: -50px;
	}
}

@keyframes btn-slide-bottom {
	0% {
		position: relative;
		bottom: 20px
	}
	
	100% {
		bottom: 0px;
	}
}