body {
      font-family: 'Poiret One', cursive;
}

.header {
      width: 100%;
      height: 700px;
      text-shadow: 0px 0px 20px #FFF;

      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
      background-image: url("./image/header-background.png");
}

.header .content {
      position: relative;
      top: 50%;

      transform: translateY(-50%);
}

.header .content p {
      margin: 0px;
      font-size: 90px;
      text-align: center;
      font-family: 'Poiret One', cursive;

      position: relative;
      top: 20px;
}

.header .content .anker {
      text-align: center;
      font-size: 30px;
}

.header .content .anker a {
      color: #F2F2F2;
      text-decoration: none;

      padding: 0px 50px;
}

.header .content .anker a:hover {
      cursor: pointer;
}

.body {
      width: 100%;
      height: 2000px;;
}

.body h1 {
      margin-top: 200px;
      padding: 0;
}

.body .works {
      display: inline-block;

      margin-top: 200px;
      width: 100%;
}

.body .works .title {
      margin-top: 0;
}

.body .works .projects-container .project {
      width: 400px;
      height: 450px;

      margin-right: 50px;
      float: left;
}

.body .works .projects-container .left-container {
      margin: auto;
      width: 900px;

      position: relative;
      left: 25px;
}

.body .works .project {
      text-align: center;
}

.body .works .margin {
      margin-top: 50px;
}

.body .works .project .contents {
      position: relative;
      top: -190px;
}

.body .works .project h1 {
      color: #38D1F1;
}

.body .works .contents img {
      width: 380px;
      height: 250px;
}

.body .works .contents a {
      position: relative;
      top: 15px;
}

.body .works .contents a:hover {
      cursor: pointer;
}

.body .history .top-margin {
      margin-top: 50px;
}

.footer {
      background: #262626;
      height: 100px;
      width: 100%;
}

.footer p {
      font-size: 20px;

      position: relative;
      top: 50%;

      transform: translateY(-50%);
}

/*
      Other
*/

a {
      color: #FFF;
}

p {
      font-family: 'Roboto Mono', monospace;
}

body {
      margin: 0px;
      color: #F2F2F2;
      background: repeating-linear-gradient(90deg, #131313, #131313 10px, #111 0, #111 20px);

      text-align: center;
}

.title {
      font-size: 50px;
      margin-bottom: -20px;
      text-shadow: 0px 0px 20px #FFF;
}

.line {
      border-bottom: solid 1px #F2F2F2;
      margin: 30px auto;
      width: 1200px;
}

.hide {
      display: none;
}

.small-line {
      width: 500px;
}

.go-top {
      position: fixed;
      bottom: 25px;
      right: 25px;

      width: 50px;
      height: 50px;

      background: #F2F2F2;
      border-radius: 50px;
}

.go-top .triangle {
      border-bottom: 25px solid #131313;
      border-right: 15px solid transparent;
      border-left: 15px solid transparent;

      position: fixed;
      bottom: 40px;
      right: 35px;
}

.go-top:hover {
      cursor: pointer;
}

.notice {
      font-family: 'Comfortaa', cursive;
      letter-spacing: 2px;

      background: #087ca3;
      height: 50px;
}

.notice p {
      position: relative;
      top: 15px;
}