body {
	background:
		linear-gradient(to right, #080e20, #12020e),
		url(https://grainy-gradients.vercel.app/noise.svg);
  filter: contrast(120%);
  font-family: Montserrat;
  color: #e3f2fd;
  overflow-x: hidden;
  margin: 0;
}

a {
  text-decoration: none;
}

#root {
  overflow-x: hidden;
}

.center {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.custom-shape-divider-top-1626431516 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  animation: fade-in 700ms 1000ms forwards;
}

.custom-shape-divider-top-1626431516 svg {
  position: relative;
  display: block;
  height: 350px;
  margin: 0;
}

.custom-shape-divider-top-1626431516 .shape-fill {
  fill: rgba(255, 255, 255, 0.03);
}

/* animation for easter egg */
@keyframes rotate {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

@keyframes fall {
  0% {
    top: -20px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: translateY(150px) rotateY(0deg);
  }
  to {
    transform: translateY(150px) rotateY(360deg);
  }
}

/* animation for react-intersection-observer */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* animation with react router */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 800ms ease-out;
  opacity: 1;
}

.fade-exit {
  transition: opacity 800ms ease-in;
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}
